h1, h2, h3, h4, h5, h6 {
  font-family: 'Days One', sans-serif;
}

body {
  font-family: 'Quicksand', sans-serif;

}

.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
}

.main {
  margin-top: $headerHeight;
}